{% extends "admin/change_form.html" %}

{% block form_top %}
  {% if not add %}
      <p><a href="{% url 'execute' original.pk %}">[Execute]</a> (Don't forget to save before executing!)</p>
  {% endif %}
{% endblock %}