{% extends "admin/base_site.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{% trans "Queries" %}</a> &rsaquo;
     <a href="../">{{ query.name }}</a> &rsaquo;
     Execute

</div>
{% endblock %}

{% block content %}
<h1>{% trans "Execute query" %}</h1>

{% if success %}
    <p><a href="../">[Back to query]</a> <a href="{% url 'export' query.pk %}" target="_blank">[Export]</a></p>
    
    <p><b>The execution is successful!</b></p>
    <p><b>{{ num_rows }}</b> rows fetched.</p>
    
    <table cellspacing="0">
        <thead>
        	<tr>
        	  {% for field_name in field_names %}
        		<th>{{ field_name }}</th>
        	  {% endfor %}
        	</tr>
        </thead>
        
        <tbody>
          {% for row in rows %}
        	<tr class="{% cycle 'row1' 'row2' %}">
              {% for field in row %}
                  <td>{{ field }}</td>
              {% endfor %}
        	</tr>
          {% endfor %}
        </tbody>
    </table>

{% else %}
    <p><b>The execution has failed:</b></p>
    <p>{{ error_message }}</p>
{% endif %}

<p><a href="../">[Back to query]</a></p>

{% endblock %}